**/work/**
**/Switches_And_LEDs_Implmnt/**
**/LED_Blink_Implmnt/**
**/And_Gate_Implmnt/**
**/Segment_Display_Implmnt/**
**/Clocked_Logic_Implmnt/**
**/Calculator_Simple_Implmnt/**
**/UART_S2P_Implmnt/**
**/stdout.log
**/stdout.log.bak
**/vsim.wlf
**/dump.vcd
**/transcript
**/*.bak
**/synlog.tcl
